/* Just to make the demo easier to work with. */
@media screen and (max-width:60em) and (min-width:20em){
  body {
  }
  
  .c {
    text-align: right;
    margin-left: -20em;
    font-size: 24px;
  
  }
  
  .a {
    font-size: 24px;
  }
  
  .b {
    font-size: 24px;
  
  }
  .data-container {
        height: 200px;
      position: relative;
      padding: 50px;
      font-size: 5px;
      text-align: left;
      scale: 120%;
      width: 100px;
  }
  
  
  }

:root {
	--spacing: 1em;
}

body {
	font-family: serif;
	font-size:12px;
    color: #0c250c;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	overflow: hidden;
}

h1 {
	font-size:18px;
	text-align:center;
  margin-bottom: 50px;
}

h2 {
	font-size:12px;
  position: absolute;
  bottom: 0;
  text-align: left;
}

h4 {
  font-weight: ;
}

.wrapper {
    display: grid;
    grid-gap: 200px;
    background-color: #fff;
    color: #444;
    margin-bottom: -200px;
  }

  .wrapper2 {
    display: grid;
    margin-top: 200px;
    grid-gap: 200px;
    background-color: #fff;
    color: #444;
    margin-bottom: -200px;
  }
  .a {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .b {
    grid-column: 2 / 3 ;
    grid-row: 1 / 3;
    text-align: center;

  }
  .c {
    grid-column: 3 / 3 ;
    grid-row: 1 ;
    text-align: right;


  }
  .d {
    grid-column: 2;
    grid-row: 2;
  }

h3 {
	font-size:10px;
	text-align:left;
}

.text {
  align-items: center;
}

#collection {
	display: flex;
	justify-content: left;
	overflow: auto;
	margin-left: -10px;
	margin-right: -10px;
}

.fullsize{
  scale: 100%;
}


p {
	font-size:12px;
	text-align:center;
}	
.indifferent {
	padding: 10px;
}

.dot-container{
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
}

.activity-title{
	position: absolute;
	left: 2rem;
	top: 2rem;
	color: white;
	font-size: 1rem;
	display: none;
}


.data-container {
  height: 275px;
  position: relative;
  border: 1px black solid;
  padding: 10px;
  text-align: left;
  margin: -10px;
  width: 125px;
}

.dot-container:hover .activity-title{
	display: block;
}

.sticker {
	background: white;
	margin: 4px;
    height: 300px;
    width: 200px;

}

.grid { 
    position: relative;
}

.item {
    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: left;
    z-index: 1;

}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #ffff;
    background: #59687d;
    font-size: 40px;
    text-align: left;
}

.item.muuri-item-dragging .item-content {
background: red;
}

.item.muuri-item-releasing {
background: green;
}

img {
	width: 50px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.fullsize {
  scale: 100%;
}

.fullsize {
  scale: 210%;
  font-size: 5px;

}


.fullsize .data-container {
  height: 150px;
  position: relative;
  border: .5px black solid;
  padding: 10px;
  font-size: 5px;
  text-align: left;
  margin: -11px;
}

.fullsize h1 {
  display: none;
}

.fullsize h2 {
  display: none;
}


a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");

* { box-sizing: border-box; }

body,
html { overflow-x: hidden; }

.bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 25px 0;

  background-color: #e74c3c;
  color: white;

  font-family: Gelasio;
  font-size: 18px;
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}

